body{
    background-image: url("Icons and Images/Background Igmage.jpeg");
    background-repeat: no-repeat;
    background-color: rgb(215, 250, 241);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}
nav{
    margin-bottom: 5%;
}
input[type="text"]{
    margin-top: 4%;
    background: transparent;
    margin-left: 30%;
    border-radius: 25px;
    height: 50px;
    width: 40%;
}
input,
input::-webkit-input-placeholder {
    text-align: center;
    font-size: 20px;
    line-height: 3;
}
.Quote{
    font-family: 'Charm', cursive;
    font-size:xx-large;
    margin-left: 3%;
    line-height: 5%;
}


/* .navbar .navbar-nav .nav-link {
    color: #000000;
    font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover{
    color: #808080;
}
@media only screen and (min-width: 960px) {
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0 0.5em;
  }
  .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
    border-right: 2px solid #000000;
  }
} */