body{
    background-repeat: no-repeat;
    /* backdrop-filter: blur(8px); */
    background-color: rgb(215, 250, 241);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

nav{
    margin-bottom: 5%;
    text-align: right;
    text-decoration-color: black;
    padding-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.Except_Login-Signup{
    margin: 10px;
}

a{
    text-decoration: none;
    color: black;
    /* margin: 10px; */ 
}

li{
    list-style: none;
    display: inline-block;
}

.Button{
    /* display: block; */
    margin: 6px;
    width:6px;
    height:6px;
    background: black;
    padding: 5px;
    text-align: center;
    border-radius: 8px;
    color: white;
    line-height: 15px;
}

.Blue_Div{
    /* padding-right: 40px;
    padding-left: 40px; */
    margin: auto;
    align-items: center;
    padding-top: 10px;
    text-align: center;
    border-radius: 40px;
    height: 515px;
    width: 545px;
    /* margin-left: 33%;
    margin-right: 33%; */
    align-self: center;
    background-color: rgba(2, 214, 214, 0.356);
}
.Icons{
    position: relative;
    top: 11px;
    height: 30px;
    width: 30px;
}
.Log_Buttons{
    left: 15px;
    right: 10px;
    margin-bottom: 10px;
    height: 50px;
    width: 400px;
    border-radius: 15px;
    list-style: none;              
    /* display :flex; */
    /* justify-content:left; */
    padding-inline-start: 0px;
    padding-left: 0px;
    padding-right: 10px;
    text-align:left;
    background: rgba(255, 255, 255, 0.842);
}
.icons_text{
    margin-left: 18%;
    position: relative;
    margin-top: 0;
}
.List_padding{
    padding: 0px;
}
.sign_heading{
    margin-bottom: 8%;
}
.sign_heading:first-child{
    padding-top: 4%;
}